:root {
  --blue:#DDA15E;
  --green: #606C38;
  --brown: #BC6C25
  --light: #FEFAE0;
  --dark: #283618;
}
* {
  background-color: var(--light);
}
body {
  background-color: #606C38;

}
#banner {
  justify-content: center;
  font-size: x-large;
  border-color: var(--blue);
}
#box{
  display: table-column-group;
  padding: 20px;
  justify-items: center;
  border-style:dashed;
  box-shadow: #DDA15E;
}
.setDec{
  display: contents;
  justify-content: first baseline;
  background-color: aqua;
  box-shadow: #606C38;
}
.greens{
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  border-style: double;
  box-shadow: #283618;
}


