:root {
  --blue:#DDA15E;
  --green: #606C38;
  --brown: #BC6C25;
  --light: #FEFAE0;
  --dark: #283618;
}
body {
  background-color: #606C38;

}
header{
display:table-header-group;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--light);

}
#container{
  width: max-content;
  display: flex;
}
.avatar{
  padding: auto;
  max-width: max-content;
}
#box{
  display: inline-block;
  width: 50%;
  justify-content: flex-start;
  background-color: #606C38;
  padding: 20px;
  justify-items: center;
  border-style:dashed;
  box-shadow: #DDA15E;
}
.setDec{
  display: contents;
  justify-content: left;
  background-color: aqua;
  box-shadow: #606C38;
}
.greens{
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  border-style: double;
  box-shadow: #283618;
}@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  #box {
    flex-direction: column;
  
  text-justify: newspaper;

}
.contact{
  border: red;
}
button{
  border: red;

}
button::after{
  color: #283618;
}
.card-body{
  background-color: #FEFAE0;
color: #606C38;
font-style: italic;
margin: 20px;

}



