*body {
    background-color: aquamarine;
}


.main {
    align-items: float-right;
    width:100px;
    height: 200px;
    color: brown;
    margin:10px; 
    padding: 2px; 
}
.container { 
    flex:50% ;
    background-color: aquamarine;
    color:darkred
}
.section {
    width: 50%;
    height: 50%;
    columns: inherit;
}
h2{
    display: inline-block;
    font-style: italic;
    color: olive;

}
#image{
    display: flex;
    width: 178px;
    height: 252px;
}


#setdec{
    display: flexbox;
    text-align-last: left;
    font-family: cursive;
    background-color: darkblue;
    color: green;
    border-radius: 5px%;
    box-sizing: 75, 100;
}
#greens {
    display: float-right;
    text-align: right;
    font-family: fantasy;
    background-color: black;
    width: 50%;
    color: aquamarine;
    padding: 5,10;
    border-radius: 5px;
    border: 5px;
}


.side{ 
    border-right: 5px solid blueviolet;
    padding :10px ; 
    height: 300px; 

}
.footer {
    display: inline-flex;
    height: fit-content;
    width: auto;
    background-color: blueviolet;
}